.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}