.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.div-bgimg {
  background-image: url("../../assets/cross.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  width: 100%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
 }

.div-space {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.div-text {
  width: 100%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}